.wp-block-themerain-slider swiper-container {
	pointer-events: none;
}

.wp-block-themerain-slider.is-selected swiper-container {
	pointer-events: all;
}

.wp-block-themerain-slider.is-vertically-aligned-center swiper-slide {
	align-self: center;
}

.wp-block-themerain-slider.is-vertically-aligned-bottom swiper-slide {
	align-self: flex-end;
}

.wp-block-themerain-slider [data-ratio="1/1"] swiper-slide {
	aspect-ratio: 1/1;
}

.wp-block-themerain-slider [data-ratio="4/3"] swiper-slide {
	aspect-ratio: 4/3;
}

.wp-block-themerain-slider [data-ratio="3/4"] swiper-slide {
	aspect-ratio: 3/4;
}

.wp-block-themerain-slider [data-ratio="3/2"] swiper-slide {
	aspect-ratio: 3/2;
}

.wp-block-themerain-slider [data-ratio="2/3"] swiper-slide {
	aspect-ratio: 2/3;
}

.wp-block-themerain-slider [data-ratio="16/9"] swiper-slide {
	aspect-ratio: 16/9;
}

.wp-block-themerain-slider [data-ratio="9/16"] swiper-slide {
	aspect-ratio: 9/16;
}

.wp-block-themerain-slider [data-ratio]:not([data-ratio="original"]) swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
